@import "tailwindcss";

:root {
  --background: #171923;
  --foreground: #f7fafc;
  --text: #f7fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-blue: #63b3ed;
  --color-red: #fc8181;
  --color-pink: #f687b3;
  --color-green: #68d391;
  --color-purple: #b794f4;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

p {
  font-family: var(--font-geist-sans);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

section {
  margin-bottom: 4rem;
}
